html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
h1 {
  margin-top: 25px;
}
.header {
  text-transform: uppercase;
  padding: 10px 0;
}
.exercise, .result {
  margin-right: 10px;
}
.exercise {
  padding: 20px 0;
}
.modal .result {
  margin:0;
}
.wrapper {
  width: 405px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
.big.btn {
  float: left;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}
.big.btn-0 {
  margin-right: 140px;
}
.big.btn-1 {
  margin: 0 0 140px 0;
}
.big.btn-3 {
  position: absolute;
  top: 130px;
  left: 130px;
}
.big.btn-4 {
  float: right;
  margin-right: 25px;
}
.big.btn:nth-child(3n) {
  margin-right: 0;
}
