h1 {
  margin-top: 25px;
}
.header {
  text-transform: uppercase;
}
.exercise, .result {
  margin-right: 10px;
}
.exercise {
  padding: 20px 0;
}
.wrapper {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
.btn {
  float: left;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}
.btn-0 {
  margin-right: 140px;
}
.btn-1 {
  margin: 0 0 140px 0;
}
.btn-3 {
  position: absolute;
  top: 130px;
  left: 130px;
}
.btn-4 {
  float: right;
}
.btn:nth-child(3n) {
  margin-right: 0;
}
